#bloc_page{  
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

aside{
    width: 30%;
    float: left;
    background-color:#4FC3F7;
    border-color: #4FC3F7;
    display: flex;
    flex-direction: column; 
    align-content: flex-start;
}

aside h2{
    text-align: center;
    color:#4FC3F7;
    background-color: #616161;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.contact_particulier{
    margin-left: 1.7em;
}

img {
    height: 3.5em;
    width: 3.5em;
    line-height: 3.5em;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    border: solid gray;
} 
   
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
  
.apropos{
    text-align: justify;
    margin:8%;
    margin-bottom: 14em;
}

.icones_loisirs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8%;
    color: #616161;
}

#bloc_droit{ 
    background-color: aliceblue;
    flex: 1; 
}

header{
    margin-top: 7%;
}

.titre_header{
    margin-left: 5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.titre_header h1{
    margin-bottom: -0.3em;  
}

#prenom{
    color:#4FC3F7
}

#dev{
    border-bottom: 0.1em solid #4FC3F7;
}

.image_header{
    visibility:hidden;
    margin-bottom: -9em;
}

.titre_blocdroit{
    margin-top: 7%;
    margin-left: 5%;
    border-bottom: 0.1em solid #4FC3F7;
    font-family: 'Montserrat', sans-serif;
}

.icon{
    color:#4FC3F7 ;
}

.parcours{
    display: flex;
    flex-direction: row;
}

.dot{
    margin-left: 5%;
    margin-top: 2%;
}

.date{
    margin-left: 3%;
    margin-top: 2%;
}

.diplome_formation{
    margin-left: 15%;
}

.diplome_formation h4,h5{
    font-family: 'Montserrat', sans-serif;
}

.diplome_formation h5,p{
    margin-top: -5%;
}

.recommandation{
    margin-top: 1em;
    margin-left: 3em;
    border-bottom: 0.1em solid #4FC3F7;
    font-family: 'Montserrat', sans-serif; 
}

li{
    list-style-type: none;   /*retire les puces de l'ensemble du document*/
}

#ul{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
}

.ul2{
    margin-left: 3em;
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

@media screen and (max-width: 900px){

    #bloc_page{  
        width: auto;
    }
}

@media screen and (max-width: 670px){

    #bloc_page{  
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }

    aside{
        width: auto;
    }

    .image{
        visibility: hidden;
        margin: auto;
    }

    .apropos{
        margin: auto;
   }

    header{
        display: flex;
        flex-direction: column;
    }

    .image{
        display: none;
    }

    .image_header{
        visibility: visible;
        margin: auto;
        margin-top: 2em;
    }

    .titre_blocdroit{
        margin: auto;
    }
}

@media screen and (max-width: 500px){

    #bloc_page{  
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }

    .ul2{
        display: none;
    }

    .parcours{
        display: flex;
        flex-direction: column;
    }
    
    .dot{
        visibility: hidden;
    }
}